@page "/CorsiOnline"
@inject HttpClient Http

<h3>Corsi Online</h3>

<SpinnerLoader IsLoading="isLoading" HasError="hasError" Size="46px" AccentColor="#3498db" Color="White" Center="true" Spinner="@Spinner">
    <ContentTemplate>
        <MudTable Items="@skills" Hover="true" Breakpoint="Breakpoint.Sm" RowsPerPage="@rowsPerPage">
            <HeaderContent>
                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<OnlineCourse, object>(x=>x.Id)"></MudTableSortLabel></MudTh>
                <MudTh>Corso</MudTh>
                <MudTh>Piattaforma</MudTh>
                <MudTh>Data Rilascio</MudTh>
                <MudTh>Data Scadenza</MudTh>
                <MudTh>Certificato</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Corso">@context.Corso</MudTd>
                <MudTd DataLabel="Piattaforma">@context.Piattaforma</MudTd>
                <MudTd DataLabel="DataRilascio">@context.DataRilascio</MudTd>
                <MudTd DataLabel="DataScadenza">@context.DataScadenza</MudTd>
                @{
                    if (@context.Certificato.StartsWith("UC-"))
                    {
                        string link = string.Concat("https://www.udemy.com/certificate/", @context.Certificato);
                        <MudTd DataLabel="Certificato"><a href="@link" target="_blank">Visualizza</a></MudTd>
                    }
                    else
                    {
                        <MudTd DataLabel="Certificato">Formato cartaceo</MudTd>
                    }
                }
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="pageSizeOptions" HideRowsPerPage="hideRowsPerPage" HidePageNumber="hidePageNumber" HidePagination="hidePagination" />
            </PagerContent>
        </MudTable>
    </ContentTemplate>
    <ErrorContentTemplate>
        <tr>
            <td colspan="4">
                <div class="alert alert-danger">Loading failed</div>
            </td>
        </tr>
    </ErrorContentTemplate>
</SpinnerLoader>

@code {
    List<OnlineCourse> skills;

    private int[] pageSizeOptions = new int[] { 5, 10, 15 };

    private int rowsPerPage = 15; //Questo valore deve essere presente anche in pageSizeOptions così da poter permettere di tornare al valore dopo un eventuale cambiamento.

    private bool hideRowsPerPage;
    private bool hidePageNumber;
    private bool hidePagination;

    private bool hasError = false;
    private bool isLoading = true;

    private SpinnerTemplate Spinner { get; set; } = SpinnerTemplate.Loader1;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        //await Task.Delay(5000);
        await Task.Delay(1000);

        try
        {
            await LoadSkills();

            if (skills.Count <= 10)
            {
                hideRowsPerPage = true;
                hidePageNumber = true;
                hidePagination = true;
            }
            else
            {
                hideRowsPerPage = true;
                hidePageNumber = false;
                hidePagination = false;
            }
        }
        catch (Exception)
        {
            hasError = true;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task LoadSkills()
    {
        skills = await Http.GetFromJsonAsync<List<OnlineCourse>>("api/WebSites/LoadCorsiOnline");
    }
}